{% extends "base.html" %}

{% block title %}{{ entry.title }}{% endblock %}

{% block extra_header %}
    <li><a href="{{ url_for('edit', slug=entry.slug) }}">Edit Note</a></li>
{% endblock %}

{% block content_title %}<a href="{{ url_for('edit', slug=entry.slug) }}">{{ entry.title }}</a>{% endblock %}



{% block content %}
  {{ entry.html_content }}
  <p><strong>Tags:</strong></p>
  <p id="tags">{{ tags }}</p>
  <p class="small">Created {{ entry.timestamp.strftime('%Y-%m-%d at %H:%M') }}{% if entry.lastedited.strftime('%Y-%m-%d at %H:%M') != entry.timestamp.strftime('%Y-%m-%d at %H:%M') %} | Last edited {{ entry.lastedited.strftime('%Y-%m-%d at %H:%M') }}
  {% endif %}
  </p>
{% endblock %}
