{% extends "base.html" %}

{% block title %}Notes{% endblock %}

{% block content_title %}
  {% if search %}Search "{{ search }}"
  {% elif tag %}Notes tagged {{ tag }}
  {% elif archive %}Archived Notes
  {% else %} Notes {% endif %}
{% endblock %}

{% block content %}
  {% for entry in object_list %}
    {% if search %}
      {% set entry = entry.entry %}
    {% endif %}
    <h3>
      <a href="{{ url_for('detail', slug=entry.slug) }}">
        {{ entry.title }}
      </a>
    </h3>
    <p class="small">Created {{ entry.timestamp.strftime('%Y-%m-%d at %H:%M') }}{% if entry.lastedited.strftime('%Y-%m-%d at %H:%M') != entry.timestamp.strftime('%Y-%m-%d at %H:%M') %} | Last edited {{ entry.lastedited.strftime('%Y-%m-%d at %H:%M') }}
    {% endif %}
    </p>
  {% else %}
    <p>No notes to display.</p>
  {% endfor %}
  {% include "includes/pagination.html" %}
{% endblock %}
